*{
    margin : 0;
    padding : 0;
    list-style-type : none;
}
body {
    display : flex;
    flex-flow : column nowrap;
    height : 100vh;
}
.button {
    display : inline-block;
    padding : 10px;
    background : #B87700;
    color : white;
    text-decoration : none;
}
.button:hover {
    cursor : pointer;
    text-decoration : underline;
    font-weight : bold;
}
header {
    background : orange;
}
nav > ul > li {
    display : inline-block;
}
main {
    flex-grow:4;
    flex-basis:auto;
    padding : 20px 0;
    margin:0 10px;
}
main > img {
    margin : 20px;
}
main > a {
    margin : 20px 0;
}
main > p {
    font-weight : bold;
}
main > h3 {
    line-height:2rem;
}
.image {
    display : block;
    text-align : center;
    padding : 20px;
}
.center {
    text-align : center;
}
footer {
    text-align : center;
    padding : 20px 0;
    background : orange;
}
.content {
    padding-left:2rem;
    margin-bottom:1rem;
}
ul.list li {
    list-style-type:disc;
    margin-left:1.4rem;
}
.table tr td {
    padding:0.1rem 0.5rem;
}
input {
    padding:3px;
    margin:3px;
}
